:root {
    --all-text: #2E2F42;
    --logo: #4D5AE5;
    --small-text: #434455;
    --back-for-team: #F4F4FD;
    --back: #FFFFFF;
    background-color: var(--back);
    color: var(--all-text);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

a, a:visited {
    text-decoration: none;
    color: var(--all-text);
    
}

.logo, .logo:visited {
    color: var(--logo);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
}

header span {
    color: var(--all-text);
}

footer span {
    color: var(--back-for-team);
}

footer p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

ul {
    list-style: none;
}

nav {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

address, address a {
    
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--small-text);
}

.head {
    background: var(--all-text)
}

h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--back);
}

.head button {
    background-color: var(--logo);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--back);
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--small-text);

}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team {
    background-color: var(--back-for-team);
}

footer {
    background-color: var(--all-text);
}

.portfolio button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo);
}

address:hover, address:focus {

}

button {
    cursor: pointer;
}